<!DOCTYPE html>
{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
  <form method="post" action="." id="form_id" enctype="multipart/form-data">{% csrf_token %}
    <div class="form-group row" align="center">
      <label class="col-form-label col-sm-4">Kategoria</label>
      <div class="col-sm-5">
          <select class="selectpicker" name="category" data-width="50%" required>
              {% for category in proper_category_list %}
                <option>{{category}}</option>
              {% endfor %}
          </select>
      </div>
    </div>
    <div class="form-group row" align="center">
      <label class="col-form-label col-sm-4">Tytuł</label>
      <div class="col-sm-5">
          <input type="text" class="form-control" name='title' required>
      </div>
    </div>
    <div class="form-group row" align="center">
      <label class="col-form-label col-sm-4">Opis skrócony</label>
      <div class="col-sm-5">
        <textarea class="form-control" rows="3" name="short_description" required></textarea>
      </div>
    </div>
    <div class="form-group row" align="center">
      <label class="col-form-label col-sm-4">Opis pełny</label>
      <div class="col-sm-5">
        <textarea class="form-control" rows="3" name="full_description" required></textarea>
      </div>
    </div>

    <div class="form-group row" align="center">
      <label class="col-form-label col-sm-4">Grafika</label>
      <div class="col-sm-5 ml-3" style="text-align: left;">
        <input type="file" class="custom-file-input" id="id_graphic" name="graphic" accept=".jpg, .png" required>
        <label class="custom-file-label graphic" for="id_graphic" data-browse="Wybierz">{{image_name}}</label>
      </div>
    </div>

    <div class="form-group row" align="center">
      <label class="col-form-label col-sm-4">Wyróżnij ogłoszenie</label>
      <div class="col-sm-5">
        <ul class="list-group list-group-flush custom-checkbox">
            <li class="list-group-item py-0 w-50 list-group-item-info">
                <input type="checkbox" class="custom-control-input checks" id="highlight" name="highlight">
                <label class="custom-control-label" for="highlight"></label>
            </li>
        </ul>
      </div>
    </div>

    <div class="form-group row" align="center">
      <label class="col-form-label col-sm-4">Na okres [dni]</label>
      <div class="col-sm-5 ml-3" style="text-align: left;">
        <input class="text-center col-sm-2" step="1" type="number" name="period" value="1" data-decimals="0" min="1" max="28"/>
      </div>
    </div>

    <!-- handle display file name -->
    <script>
        $('#id_graphic').on('change',function(){
            var file_name = $(this).val().split('\\').pop();
            $('.graphic').html(file_name);
        })
    </script>

    <div class="form-group row">
      <div class="offset-sm-5 py-2 submit">
          <button type="submit" class="btn btn-primary" value="create_announcement">Dodaj</button>
      </div>
    </div>

    <div class="form-group row">
      <div class="offset-sm-4 pt-5">
        {% if messages %}
          {% for message in messages %}
              <div class="alert alert-{{ message.tags }} alert-dismissible fade show">
                    {{ message }}
              </div>
          {% endfor %}
        {% endif %}
      </div>
    </div>
  </form>
</div>

{% endblock content %}